body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-color: #777777;
    max-width: 960px;
    background-image: url(../images/bg.png);
}

.header {
    background-color: #ffffff;
    border-bottom: solid #dddddd;
}

.logo {
    display: inline-block;
    background-color: #4aaaa5;
    width: 20%;
    margin-left: 10%;

}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}

.nav-bar {
    display:inline-block;
    left: 50%;
    margin-left: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}
.profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-me {
    max-width: 650px;
    border: 1px solid black;
    background-color: white;
}

h2 {
    border-bottom: solid #dddddd;
    color: #4aaaa5;
    text-align: center;
    max-width: 100%;
}

.profile {
    float: left;
    display: inline-block;
}

p.about-me {
    float: right;
}

.social {
    float: right;
    max-width: 270px;
    border: 1px solid black;
    background-color: white;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
}