body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-color: #777777;
    max-width: 960px;
}

.header {
    background-color: #ffffff;
    border-bottom: solid #dddddd;
}

.logo {
    float: left;

}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-bar {
    float: left;
}

ul {
}

li {
    display: inline;
}
